{% extends "base.html" %}

{% block head %}
{{ super() }}

{% endblock %}


{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/tabla">Base de datos</a></li>
                <li><a href="/productos_por_clientes">Productos por cliente</a></li>
                <li><a href="/clientes_por_productos">Clientes por producto</a></li>
                <li><a href="/mejores_clientes">Mejores clientes</a></li>
                <li><a href="/productos_mas_vendidos">Productos mas vendidos</a></li>
                <li><a href="/logout">Salir</a></li>   
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
