{% extends "baseventas.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Busqueda{% endblock %}

{% block page_content %}
<div id="wrapper" class="container">
     <h1>Clientes por productos</h1>
     <h3>Ejemplo busqueda: D4T, GOSERELIN, BAYA 10 X 10</h3> 

<table class="table">
    {{ wtf.quick_form(formulario) }}
</div>


<table class="table">
      <tr>
        <th>{{header[0]}}</th>
        <th>{{header[1]}}</th>
        <th>{{header[2]}}</th>

      </tr>
    {% for line in tablaproductos %}
      <tr>
        <td>{{ line[0] }}</td>
        <td>{{ line[1] }}</td>
        <td>{{ line[2] }}</td>


      </tr>
    {% endfor %}
</table>


{% endblock %}
